.grid{
    z-index: -1;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (orientation:portrait) { 
        height: 45vh;
        width: calc(45vh * 3.6);
    }

    @media screen and (orientation:landscape) { 
        width: 100vw;
        height: calc(100vw / 3.6);
    }

}



