.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        span{
            animation: DROPIN 1s 500ms ease backwards;
        }

        strong{
            animation: ANGLEIN 1s 1s ease backwards, MOBILEYELLOWTEXTSHADOW 1s ease 1s both;
        }
    }    
}

@media(min-width:1024px){

    .contact{
        h2{
            strong{
                animation: ANGLEIN 1s 1s ease backwards, YELLOWTEXTSHADOW 1s ease 1s both;
            }
        }
    }

}