@import '../../variables.scss';

header{
    padding:30px 45px 0px;
    position:fixed;
    z-index:1000;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

    svg{
        height:50px;
        width:auto;

        @media(min-width:768px){
            height:75px;
        }

        #business-name{
            visibility:hidden;

            @media(min-width:768px){
                visibility: visible;
            }
        }
    }

    .navicon{
        appearance:none;
        border:0;
        padding:0;
        margin:0;
        background:transparent;
        width:60px;
        height:50px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background:$white;
        padding:10px;
        
        span{
            width:100%;
            height:5px;
            background:$black;
        }
    }
}