@import '../../variables.scss';

header{
    position:fixed;
    z-index: 100;

    .bg-pink{
        height: 30vw;
        position: absolute;
        max-height: 230px;
        top:0;
        left:0;
        z-index:2;
    }

    .logo{
        display:block;
        margin-top:7vw;
        margin-left:7vw;
        z-index: 3;
        position:relative;

        svg{
            max-height: 200px;
            max-width: 120px;
            height: 20vw;
            width: 12vw;
            transform:scale(1,1);
            transform-origin: 0 0;
            transition:transform 500ms ease;

            > *{
                transition:fill 500ms ease;
            }

            .face{
                fill: $yellow;
            }
        }

        &:hover{
            svg{
                transform:scale(1.1,1.1);

                .face{
                    fill: $pink;
                }
                .shadow{
                    fill: $teal;
                }
            }
        }

    }
}

@media(min-width:1024px){

    header{
        .logo{
            margin-top:45px;
            margin-left:45px;
        }
    }

}