@import '../../variables.scss';

.testimony{
    background:#fff;
    padding:30px;
    margin-top:30px;
    position:relative;
    animation: BLUEBOXSHADOW 1s ease both;
    float:left;
    width:80vw;
    clear:both;
    cursor: pointer;

    &:nth-of-type(odd) {
        float: right;
    }

    svg{
        position: absolute;
        top: -17px;
        right: -10px;
        width: 50px;
        height: 50px;
    }

    p{
        font-size:14px;
        line-height:20px;
        margin-bottom:15px;
    }

    strong{
        color:$pink;
        font-weight:bold;
        font-size:22px;
        display:block;
    }

    span{
        display:block;
        font-size:18px;
        font-weight:500;
        margin-top:5px;
        text-transform:uppercase;
        font-family:"Bebas Neue", sans-serif;
    }

    .text {
        max-height: 150px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;
        transition:all 500ms ease;
    
        &:after {
            content: '';
            height: 150px;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity:1;
            transition:opacity 500ms ease;
            width: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }
    }

    &:hover{
        .text{
            max-height:165px;
        }
    }

    &.open{
        .text{
            max-height:1000px !important;
            
            &:after{
                opacity:0;
            }
        }
    }
    
}

@media(min-width:1024px){
    .testimonies{
        max-width:1000px;

        .testimony{
            p{
                font-size:16px;
                line-height: 24px;
            }
        }
    }
}