/* COLORS */
$yellow: #FBEA40;
$black: #000;
$white: #fff;
$teal: #2DDAD3;
$green: #5CFF9C;
$blue: #5980F7;
$pink: #FF0255;

@function mobileTextShadow($color){
  @return -4px -4px 0px $color, 
  -3px -3px 0px $color, 
  -2px -2px 0px $color, 
  -1px -1px 0px $color;
}

@function textShadow($color){
  @return -8px -8px 0px $color, 
  -7px -7px 0px $color, 
  -6px -6px 0px $color, 
  -5px -5px 0px $color, 
  -4px -4px 0px $color, 
  -3px -3px 0px $color, 
  -2px -2px 0px $color, 
  -1px -1px 0px $color;
}

/* ANIMATIONS */
@keyframes DROPIN {
  from {opacity:0;transform:translate3d(0,-1vw,0)}
  to {opacity:1;transform:translate3d(0,0,0)}
}

@keyframes ANGLEIN {
  from {opacity:0;transform:translate3d(-1vw,-1vw,0)}
  to {opacity:1;transform:translate3d(0,0,0)}
}

@keyframes MOBILEPINKTEXTSHADOW{
  from{
    text-shadow:0px;
  }
  to{
    text-shadow:mobileTextShadow($pink);
  }
}

@keyframes PINKTEXTSHADOW{
  from{
    text-shadow:0px;
  }
  to{
    text-shadow:textShadow($pink);
  }
}

@keyframes MOBILEYELLOWTEXTSHADOW{
  from{
    text-shadow:0px;
  }
  to{
    text-shadow:mobileTextShadow($yellow);
  }
}

@keyframes YELLOWTEXTSHADOW{
  from{
    text-shadow:0px;
  }
  to{
    text-shadow:textShadow($yellow);
  }
}

@keyframes MOBILEBLUETEXTSHADOW{
  from{
    text-shadow:0px;
  }
  to{
    text-shadow:mobileTextShadow($blue);
  }
}

@keyframes BLUETEXTSHADOW{
  from{
    text-shadow:0px;
  }
  to{
    text-shadow:textShadow($blue);
  }
}

@keyframes BLACKBOXSHADOW{
  from{
    box-shadow:0px;
  }
  to{
    box-shadow:-6px -6px 0px $black, 
                -5px -5px 0px $black, 
                -4px -4px 0px $black, 
                -3px -3px 0px $black, 
                -2px -2px 0px $black, 
                -1px -1px 0px $black;
  }
}

@keyframes BLUEBOXSHADOW{
  from{
    box-shadow:0px;
  }
  to{
    box-shadow:-6px -6px 0px $blue, 
                -5px -5px 0px $blue, 
                -4px -4px 0px $blue, 
                -3px -3px 0px $blue, 
                -2px -2px 0px $blue, 
                -1px -1px 0px $blue;
  }
}

@keyframes YELLOWBOXSHADOW{
  from{
    box-shadow:0px;
  }
  to{
    box-shadow:6px -6px 0px $yellow, 
                5px -5px 0px $yellow, 
                4px -4px 0px $yellow, 
                3px -3px 0px $yellow, 
                2px -2px 0px $yellow, 
                1px -1px 0px $yellow;
  }
}

@keyframes FADEIN{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes SLIDEUP{
  from{
    transform:translate3d(0,100%,0);
  }
  to{
    transform:translate3d(0,0,0);
  }
}

