@import '../../variables.scss';

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        margin-top:60px; 

        span{
            animation: DROPIN 1s 500ms ease backwards;
        }

        strong{
            animation: ANGLEIN 1s 1s ease backwards, MOBILEPINKTEXTSHADOW 1s ease 1s both;
        }
    }

    .languages{
        svg{
            height:6vw;
            max-height:35px;
            margin:0 3vw;
        }

        svg:nth-of-type(1){
            animation: DROPIN 500ms 1.5s ease backwards;
        }
        svg:nth-of-type(2){
            animation: DROPIN 500ms 1.65s ease backwards;
        }
        svg:nth-of-type(3){
            animation: DROPIN 500ms 1.7s ease backwards;
        }
    }

    p {
        max-width: 300px;
        margin-top: 30px;
        text-align: center;
        animation: DROPIN 1s 1.8s ease backwards;
    }

    .btn{
        margin-top:45px;
        animation-delay: 1.9s;
    }
}

@media(min-width:1024px){

    .banner{
        h1{
            strong{
                animation: ANGLEIN 1s 1s ease backwards, PINKTEXTSHADOW 1s ease 1s both;
            }
        }

        .languages{
            svg{
                margin:0 15px;
            }
        }
    }

}